

/*
========================
page - ABOUT
========================
*/




.about-photo{
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/about-hero.jpg");
	background-position: center bottom;
	background-size: cover;
	background-repeat: no-repeat;
	//background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	

	h1{
		color:white;
		font-size:3rem;
		text-transform: uppercase;
		text-align: center;
	}
}

.about-wrap{
	max-width: 800px !important;

	h2{
	text-align: center;
		margin-bottom: 40px;
		font-size: 2.4rem;
    	font-weight: 400;
		margin: 3.75rem 0rem;
	}
}


