/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */



/*===========================================
		    front-page
==========================================*/


/*========
Home photo
=========*/

.home-photo{
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/home-hero.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.home-logo{
	width: 275px;
}

/*========
Shop Stuff
=========*/


.shop-categories{
	width: 24%;
	border: 1px solid $color-beige;
	text-align: center;
	box-shadow: inset 0px 5px 0px $color-beige;
	}

.shop-categories:hover{
	
		border-color:$color-orange;
		box-shadow: inset 0px 5px 0px $color-orange;
	
}

.centered{
	
		padding:0px 10px;
}



.btn-shop{

	@include basic-btn;
	color:$color-main;
	background-color:$color-green;

}

/*========
Inhabitent Journal
=========*/

.journal-stuff{
	max-width: 1120px;
	margin:auto;
	padding-bottom: 30px;

	h1{
		text-align: center;
		margin-bottom: 40px;
		font-size: 2.4rem;
    	font-weight: 400;
    	margin: 3.75rem 0rem;
	}

	.archive-product-title{
		font-weight: bold;
		
	}
}

.journal-contenedor{

	display: flex;
	align-content: center;
	justify-content: space-between;
	
}

.journal-categories{
	width: 32%;
	border: 1px solid $color-beige;
	
}

.journal-head{
	width: 100%;
	height: 250px;
	overflow: hidden;
	box-shadow: 0px 5px 1px $color-beige;

	img{
		height: 100%;
	}
	
}

.journal-text{
	margin-left:10px;
	text-decoration: none;
	box-shadow: inset 0px 5px 0px $color-beige;
	padding-left:10px;


	span:first-child { 
		display: inline-block;
		padding-top: 20px;
		font-size: 0.75rem;
	  }

	  .box-journal-text-space{
		  height: 60px;

		  p{
			  margin-top:0px;
			  font-weight: bold;}
	  }
}

.btn-journal{
	@include basic-btn;
	border: 1px solid $color-black;
	color: $color-black;
	
	:hover{
		background-color:$color-green;
		color:$color-main;
	}

	
	
}

.btn-journal:hover{
	background-color:$color-green;
	color:$color-main;
	border-color: $color-green;
}


.green-color-title{
	color:$color-green;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.2rem;



}

/*--========
Lastest Adventures
=========-*/


.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 250px;
	grid-gap: 20px 20px;
	

	.subtitles-adventures{
		width: 80%;
		margin:auto;
			
		h3{
			color:$color-main;
			margin-bottom:20px;
			}

		a{  color:$color-main;
			text-decoration: none;
					}
	}

  }

  .item1 {
	grid-area: 1 / 1 / span 2 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/canoe-girl.jpg");
	@include grid-basic;
	h3{
		font-size: 3rem;
    	line-height: 3rem;
}
  }
  .item2 {
	grid-area: 1 / 3 / span 1 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/beach-bonfire.jpg");
	@include grid-basic;
	h3{
		font-size: 2.5rem;
    	line-height: 2.5rem;
}
  }

  .item3 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/mountain-hikers.jpg");
	@include grid-basic;
	h3{
		font-size: 1.8rem;
		line-height: 2rem;
	}
  }

  .item4 {
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/night-sky.jpg");
	@include grid-basic;
	h3{
		font-size: 1.8rem;
	    line-height: 2rem;}
  }


  .item5 {
	grid-area: 1 / 1 / span 2 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/canoe-girl.jpg");
	@include grid-4;

  }

  .item6 {
	grid-area: 1 / 3 / span 2 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/beach-bonfire.jpg");
	@include grid-4;
  }

  .item7 {
	grid-area: 3 / 1 / span 2 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/mountain-hikers.jpg");
	@include grid-4;
  }

  .item8 {
	grid-area: 3 / 3 / span 2 / span 2;
	background-image: linear-gradient(rgba(0, 0, 0, 0.377),rgba(0, 0, 0, 0.377)), url("../../images/adventure-photos/night-sky.jpg");
	@include grid-4;
  }


  .btn-adventure{
	display: inline-block;  
	margin-top:20px;
	
  }

  .btn-white{

	@include basic-btn;
	border: 1px solid $color-main;
	color: $color-main;
		
}
 

  /*--========
Footer
=========-*/

.footer-img{
	
	height: 300px;
	background-image: url("../../images/dark-wood@2x.png");
	background-position: center;
	background-size: contain;
	color:$color-main;
	
	}

.location-footer-menu{
	position: relative;
}

.site-footer__col-one, footer aside#contact-info-2{

	position: absolute;
    top: 29px;
    left: 20px;
	line-height: 22px;
	
	h2, h3{
		color:$color-orange;
	}
}

.site-footer__col-two, footer aside#business-hours-2{
	position: absolute;
    top: 30px;
	left: 250px;
	line-height: 22px;

	h2, h3{
		color:$color-orange;
	}
}



.site-footer__col-three{
	position: absolute;
	top:30px;
	right: 80px;
	p {
		color: $color-main;
	}
    

	img{

		width: 260px;
	}
}

.site-footer__col-fourth{

	position: absolute;
	top: 250px;
	left: 40%; 
  

}


//showing the sidebar when its only one


footer aside#archives-2 {
    display: none;
}